html, body {
    height: 100%;
}

.container {
    height: 750px;
    width: 750px;
    margin: 0 auto;
    border: 20px solid red;
    border-radius: 20px;
    background-color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.box {
    margin: 1px;
    flex: 1;
    background-color: white;
}